@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @course.Name
                        @if (course.isLogin)
                        {
                            if (course.isShowFollow)
                            {
                                <button data-user-id="@course.LectureId" class="btn btn-default btn-sm js-tongle-follow">Follow</button> <br />
                            }
                            else
                            {
                                <button data-user-id="@course.LectureId" class="btn btn-success btn-sm js-tongle-follow">Following</button> <br />
                            }
                        }
                    </span>
                    <span class="category">
                        @course.Category.Name
                        @if (course.isLogin)
                        {
                            if (course.isShowGoing)
                            {
                                <button data-course-id="@course.id" class="btn btn-default btn-sm js-tongle-attendance">Going?</button>

                            }
                            else
                            {
                                <button data-course-id="@course.id" class="btn btn-info btn-sm js-tongle-attendance">Going</button>
                            }
                        }
                    </span>
                </div>
            </li>
        }
    </ul>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".js-tongle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { Id: button.attr("data-course-id") })
                    .done(function (result) {
                        if (result == "cancel") {
                            alert("Cancel register course sucessfully!")
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Going?");
                        } else {
                            alert("Register course sucessfully!")
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        }
                    }).fail(function () {
                        alert("Something fail");
                    });
            });

            $(".js-tongle-follow").click(function (e) {
                var button = $(e.target);
                var followee = button.attr("data-user-id");
                $.post("/api/following", { FolloweeId: button.attr("data-user-id") })
                    .done(function (result) {
                        if (result == "cancel") {
                            alert("unFollow sucessfully")
                            $('.js-tongle-follow').each(function (i, obj) {
                                if ($(this).attr('data-user-id') == followee) {
                                    $(this).removeClass("btn-success")
                                        .addClass("btn-default")
                                        .text("Follow");
                                }
                            });
                        } else {
                            alert("Follow sucessfully")
                            $('.js-tongle-follow').each(function (i, obj) {
                                if ($(this).attr('data-user-id') == followee) {
                                    $(this).removeClass("btn-default")
                                        .addClass("btn-success")
                                        .text("Following");
                                }
                            });
                        }
                    }).fail(function () {
                        alert("Something fail");
                    });
            });
        });

    </script>
}